node-red/flows.json
[
  {
    "id": "mqtt_in_1",
    "type": "mqtt in",
    "z": "flow1",
    "name": "FPGA Signal Input",
    "topic": "factory/signal",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_1",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 140,
    "y": 100,
    "wires": [["json_parse", "chart_signal", "fault_check"]]
  },
  {
    "id": "json_parse",
    "type": "json",
    "z": "flow1",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 370,
    "y": 100,
    "wires": [["chart_signal", "fault_check"]]
  },
  {
    "id": "chart_signal",
    "type": "ui_chart",
    "z": "flow1",
    "name": "Biosignal Chart",
    "group": "ui_group_1",
    "order": 1,
    "width": 12,
    "height": 6,
    "label": "Real-Time Biosignal",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Waiting for signal...",
    "removeOlder": "60",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#00b3ff"],
    "x": 630,
    "y": 60,
    "wires": [[], []]
  },
  {
    "id": "fault_check",
    "type": "function",
    "z": "flow1",
    "name": "Fault Detector",
    "func": "var d = msg.payload;\nif (d.fault) {\n    node.status({fill:'red',shape:'dot',text:'FAULT!'});\n    msg.payload = 'FAULT: ' + d.value.toString();\n    return [msg, null];\n} else {\n    node.status({fill:'green',shape:'dot',text:'Normal'});\n    return [null, msg];\n}",
    "outputs": 2,
    "noerr": 0,
    "x": 620,
    "y": 140,
    "wires": [["fault_alert"], ["normal_log"]]
  },
  {
    "id": "fault_alert",
    "type": "ui_text",
    "z": "flow1",
    "group": "ui_group_1",
    "order": 2,
    "width": 6,
    "height": 1,
    "name": "Fault Alert",
    "label": "Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 870,
    "y": 120,
    "wires": []
  },
  {
    "id": "normal_log",
    "type": "debug",
    "z": "flow1",
    "name": "Normal Data",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 870,
    "y": 180,
    "wires": []
  },
  {
    "id": "mqtt_broker_1",
    "type": "mqtt-broker",
    "name": "Local MQTT",
    "broker": "localhost",
    "port": "1883",
    "clientid": "node-red-fpga-client",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "ui_group_1",
    "type": "ui_group",
    "name": "FPGA Dashboard",
    "tab": "ui_tab_1",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_tab_1",
    "type": "ui_tab",
    "name": "FPGA Monitor",
    "icon": "dashboard",
    "order": 1
  }
]
